body{
  background-color: #022C43;
    color: #FFD700;
}
.main{
  font-family: 'Dancing Script', cursive;
  text-align: center;

}
h1{
  font-size: 6.9rem;
  text-shadow: 5px 0 #115173;
}
.cont{
  font-family: 'Handlee', cursive;
  display: inline-block;
  text-align: center;
  font-size: 2rem;
}
img{
  width: 75%;
}
footer{
  margin-top: 7.5%;
  color: #FFD700;
  text-align: center;
  font-family: 'Handlee', cursive;
}
